/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
/* .section {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
} */

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* NAVBAR */
nav {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  /* border: solid rebeccapurple; */
}
/* logo */

.logo {
  height: 5rem;
  width: 5rem;
}

.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* border: solid red; */
  width: 100%;
}

.nav-center {
  /* border: solid; */
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: wheat;
}

.links a {
  color: wheat;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  transition: all 0.4s;
  margin-top: 0.5rem;
  padding: 0.4rem;
  text-align: center;
}
.links a:hover {
  border-radius: 5px;
  background: #b3001b;
  transform: scale(1.05);
}

.links-container {
  background: rgba(0, 0, 0, 1);
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  width: 80%;
  border-radius: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.show-container {
  height: 12rem;
}

/* HEADER PIC */
.pic-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 50vh;
  max-height: 70vh;
  transition: all 0.3s;
}
.pic {
  width: 120%;
  height: 100%;
  min-height: 400px;
}

@media screen and (min-width: 800px) {
  nav {
    min-height: 80vh;
  }
  @media screen and (min-width: 1000px) {
    nav {
      min-height: 100vh;
    }
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: row;
  }
  .nav-header {
    padding: 0;
    width: auto;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
    background: transparent;
    display: flex;
    align-items: flex-end;
    padding: 1rem 0;
  }
  .links {
    display: flex;
  }
  .links a {
    margin: 0 0.5rem;
  }

  /* header pic */
  .pic-container {
    min-height: 70vh;
    max-height: 100vh;
  }
  .pic {
    max-height: 100%;
  }
}

/* AUDIO JS */
.section {
  background: rgba(0, 0, 0, 0.3);
  border: solid;
  position: absolute;
  top: 200px;
  left: 6%;
  z-index: 0;
  width: fit-content;
  border-radius: 10px;
  color: wheat;
  padding: 1rem;
}
.section h4 {
  font-size: 1.5rem;
  color: wheat;
}

.audioPlayer {
  align-items: center;
  display: flex;
}

.playPause {
  background: #b3001b;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 25px;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play {
  position: relative;
  left: 5px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
}

.currentTime {
  margin-left: 25px;
}

.progressBar {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

@media screen and (min-width: 800px) {
  .playPause {
    font-size: 32px;
    width: 75px;
    height: 75px;
  }
  .section {
    top: 250px;
    left: 7%;
  }
  .section {
    background: rgba(0, 0, 0, 0.3);
    border: solid;
    position: absolute;
    top: 250px;
    left: 90px;
  }
}

/*
=============== 
VIDEO STYLE
===============
*/
.main-container {
  background-color: wheat;
  padding: 1rem 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  border: solid #b3001b;
  border-radius: 10px;
}
.video-title {
  margin: 0.7rem;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.video-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .contain {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem auto;
  }
  .container {
    max-width: 300px;
    height: 250px;
    margin: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .contain {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .video-container {
    max-width: 100%;
  }
  .container {
    max-width: 400px;
    height: 250px;

    margin: 1rem;
  }
}

/*
=============== 
NEWS STYLE
===============
*/

.news-container {
  /* border: solid; */
  /* background: rgba(0, 0, 0, 0.3); */
  padding: 1rem 0;
}

.news {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 1rem auto;
  padding: 0.6rem;
  border: solid #b3001b 1px;
  border-left: solid #b3001b 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  min-height: 200px;
}

.news-pic {
  position: absolute;
  left: -20px;
  z-index: -999;
  width: 150px;
  height: 150px;
  /* border-radius: 15px 15px 0 0; */
  border-bottom: solid wheat 20px;
}
.news-details {
  width: 80%;
  margin-left: 8rem;
}
.news-text {
  border: transparent;
  font-size: 0.8rem;
  word-spacing: 0.3rem;
}
.heading {
  letter-spacing: 0.2rem;
  font-size: 1.9rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}
.readmore-btn {
  border: transparent;
  background: transparent;
}

@media screen and (min-width: 800px) {
  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: solid; */
    gap: 1rem;
  }
}

@media screen and (min-width: 1100px) {
  .news-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .news {
    margin: 0.5rem auto;
  }
}

.underline {
  width: 4rem;
  height: 0.25rem;
  background: #b3001b;
  margin-left: auto;
  margin-right: auto;
}
